<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
    <title>Covid-19 Report dashboard</title>
</head>

<body>
  
    <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #00317a;" >
        <a class="navbar-brand" style="color: white;"  href="#">Covid-19 Data Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                <ul class = "nav-bar nav"  >
                    <li class = "nav-item">
                        <a class="nav-link active" href="https://github.com/CSSEGISandData/COVID-19" style="color: white;">Data Source</a>
                    </li>
                    <li class = "nav-item">
                        <a class="nav-link active" href="https://systems.jhu.edu/research/public-health/ncov/"  style="color: white;">Johns Hopkins School of Engineering</a>
                    </li>
                   
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tips and Information: Psycological 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://www.apa.org/research/action/speaking-of-psychology/coronavirus-anxiety">* Speaking of Psychology: Coronavirus Anxiety</a>
                            <a class="dropdown-item" href="https://www.nasponline.org/resources-and-publications/resources-and-podcasts/school-climate-safety-and-crisis/health-crisis-resources/talking-to-children-about-covid-19-(coronavirus)-a-parent-resource">* Talking to Children About COVID-19 (Coronavirus):<br>A Parent Resource</a>
                            <a class="dropdown-item" href="https://www.psychologytoday.com/us/blog/motivate/202003/5-ways-overcome-the-psychological-stress-coronavirus">* 5 Ways to Overcome the Psychological Stress of Coronavirus</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tips and Information: Physical 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">* Coronavirus disease (COVID-19) advice for the public</a>
                            <a class="dropdown-item" href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/workplace-school-and-home-guidance.pdf">* Keeping the workplace safe</a>
                            <a class="dropdown-item" href="https://www.aao.org/eye-health/tips-prevention/coronavirus-covid19-eye-infection-pinkeye">* Surprising Ties Between Coronavirus and the Eyes</a>
                            <a class="dropdown-item" href="https://www.businessinsider.com/how-to-live-your-life-through-the-coronavirus-epidemic-2020-3?IR=T">* How to carry on with your life during the coronavirus outbreak<br>from workout tips to quarantine-friendly recipes</a>
                            <a class="dropdown-item" href="https://www.express.co.uk/life-style/health/1253832/coronavirus-commute-hygiene-tips-how-to-prevent-coronavirus-on-commute">* Coronavirus: Commute Hygiene tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tips and Information: Spiritual
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://jamiat.org.za/the-islamic-perspective-of-corona-virus-and-useful-guidelines/">* The Islamic Perspective of Corona Virus and Useful Guidelines</a>
                            <a class="dropdown-item" href="https://jamiat.org.za/grief-loss-coping-with-lifes-pitiless-storms/">* 10 Islamic Guidelines on Pandemics and Epidemics</a>
                            <a class="dropdown-item" href="https://jamiat.org.za/grief-loss-coping-with-lifes-pitiless-storms/">* Grief & Loss: Coping With Life’s Pitiless Storms</a>
                            <a class="dropdown-item" href="https://jamiat.org.za/worldmentalhealthday/">* #WorldMentalHealthDay</a>
                            <a class="dropdown-item" href="https://jamiat.org.za/duas-for-protection-against-diseases/">* Prayers For Protection Against Diseases</a>
                       
                        </div>
                    </li>
                </ul>
           
        </div>
    </nav>

    <div class = 'row'>
        <div class = 'col-1 border-right'>
            <a  href = "https://github.com/ozayr"><img src="../static/githublogo.png" class="img-fluid img-thumbnail  ml-3 mt-2" alt="githublogo"></a> 
            <a href = "http://linkedin.com/in/ozayr-moorad-616130102"><img src="../static/linkedinlogo.png" class="img-fluid img-thumbnail ml-3 mt-2" alt="linkedin"></a>
            <a href = "https://www.instagram.com/aqeela_fitness/"><img src="../static/output-onlinepngtools.png" class="img-fluid img-thumbnail ml-3 mt-2" alt="Aqeela Fitness"></a> 
        </div>      
        
        <div class = "col-11 ">
            <h2>Covid-19 Data Dashboard</h2>
            <h4 class= "text-muted">Stats Visualizations</h4>
            <div class = "row">
                <div class = "col"><h2>Total Confimred: <span style= "color: blue;">{{total_confirms}}</span> </h2></div>
                <div class = "col"><h2>Total Recovered: <span style= "color: green;">{{total_recovered}}</span></h2></div>
                <div class = "col"><h2>Total Deaths: <span style= "color: red;">{{total_deaths}}</span></h2></div>
            </div>
            <div >
                <div class = "row">
                    <div class = "col">
                        <div id = {{ids[0]}}></div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[1]}}></div>
                    </div>
                   
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[2]}}></div>
                    </div>
                   
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[3]}}></div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[4]}}></div>
                    </div>
                    <div class = "col ">
                        <div id = {{ids[5]}}></div>
                    </div>
                    <div class = "col ">
                        <div id = {{ids[6]}}></div>
                    </div>
                   
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[7]}}></div>
                    </div>
                   
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[8]}}></div>
                    </div>
                   
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[9]}}></div>
                    </div>
                   
                </div>
                <div class = "row">
                    <div class = "col ">
                        <div id = {{ids[10]}}></div>
                    </div>
                   
                </div>

            </div>
        </div>

    </div>

   
</body>

<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>


</html>